<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanqie.manage.mapper.AdditionalMainMapper">

    <select id="getAdditionalSure" resultType="com.fanqie.manage.param.acSure">
        SELECT mav.user_name, mav.teach_name, mav.class_name, ac.is_first, ac.is_double_language, ac.is_weekend
        FROM additional_main am
                 JOIN main_all_view mav ON am.additional_id = mav.additional_id
                 JOIN additional_coefficients ac ON am.additional_coefficients_id = ac.additional_coefficients_id
        WHERE am.is_sure = 5
          AND am.is_delete != 1

    </select>

</mapper>
