<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanqie.manage.mapper.CoefficientExperimentMapper">


<select id="selectCoefficientByClassNumber" resultType="java.lang.Double">
    SELECT coefficient FROM coefficient_experiment WHERE class_number = #{classNumber} AND is_delete = 0
</select>


<select id="getByClassNumber" parameterType="int" resultType="com.fanqie.manage.entity.CoefficientExperiment">
  SELECT id, class_number, coefficient, is_delete, gmt_create, gmt_modified FROM coefficient_experiment WHERE class_number = #{classNumber} AND is_delete = 0
</select>

</mapper>
